.navItem {
    display: flex;
    flex-wrap: wrap;
    width: 350px;

    border: plum 2px solid;
    text-align: center;
}

.navItem:hover {
    background-color: #a578a5;
    border: dimgrey 2px solid;
    cursor: pointer;
}